@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input class="form-control input-lg" id="inputlg" data-bind="value: filter, valueUpdate: 'keyup'" type="text" placeholder="Sök">

            </div>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-success" style="min-width:150px;" data-bind="click: changeMode , text: modeText"></button>
            <button type="button" class="btn btn-success" data-bind="click: update">Uppdate</button>
        </div>
    </div>
   
    <!--ko if: pubMode() -->
     <!--ko foreach: pubs -->
    <!--ko if: filteredBeers-->
    <div class="row">
        <div class="col-md-12">
                <h3 data-bind="text: name"></h3>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Typ</th>
                        <th>Bryggeri</th>
                        <th>ABV</th>
                        <th>Beskrivning</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: filteredBeers ">
                    <tr>
                        <th scope="row" data-bind="text: name"></th>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: brewery"></td>
                        <td data-bind="text: alcholPrecentage"></td>
                        <td data-bind="text: text"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->



    <!--ko if: !pubMode() -->
    <!--ko foreach: releases -->
    <!--ko if: filteredBeers-->
    <div class="row">
        <div class="col-md-12">
            <h3 data-bind="text: name"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Typ</th>
                        <th>Bryggeri</th>
                        <th>ABV</th>
                        <th>Beskrivning</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: filteredBeers ">
                    <tr>
                        <th scope="row" data-bind="text: name"></th>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: brewery"></td>
                        <td data-bind="text: alcholPrecentage"></td>
                        <td data-bind="text: text"></td>
                        <td data-bind="text: price"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    
</div>